
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import '~bootswatch/dist/flatly/variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Bootswatch theme main CSS files
@import '~bootswatch/dist/flatly/bootswatch';

.nav-pills {
    .nav-link {
        color: $secondary;
        font-size: $h5-font-size;
        padding: 0.5em 1em;

        svg {
            opacity: 0.5;
        }
    }

    .nav-link:hover {
        color: $primary;
    }

    .nav-link.active {
        color: $primary;
        background-color: transparent;
    }
}
